.App-header {
  background-color: #282c34;
  min-height: 73.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-child{

  margin: 10px;
}
body{

  background-color: #282c34;
}

button:disabled{

  opacity: 0.35;
}
.app-child2{

  margin: 30px;
  
}
.app-child3{

  text-decoration-line: none;
  margin-left: 60px;
  color: white;
}
.app-child3:hover{

  border: none solid ;
  background-color: #0d6efd;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.App-link {
  color: #61dafb;
}

.card-group{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.card-group1{
  display: flex;
  flex-direction: row;
  
}
.card-group-item{

  background-color: #282c34;
  color: white;
  margin-top: 15px;
  border: 1px solid grey;

}
.card-body{

  border: 1px solid grey;
  background-color: #282c34;

}

.card-footer{

  display: grid;
  border: 1px solid whitesmoke;
  grid-template-columns: repeat(2, 1fr);
  background-color: #282c34;
}

.error{

  color: red;
}
